body.custom-bg {
    background-color: #100e19;
}

.scale {
    border-radius: 25px;
    transition: 0.5s; /* Время эффекта */
    background: black;
   }
   .scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }
   .line {
    border-bottom: 1px solid rgb(255, 255, 255); /* Параметры линии */
   }

   .linet {
    width: 80%;
    border-bottom: 5px solid rgb(255, 255, 255); /* Параметры линии */
   }
   .carusel-image-size{
       height: 350px;
   }

   .card-title{
       font-size: 19px;

   }
   .card-custom img {
       border-radius: 10px;
   }
   .navbar-nav{
       margin-left: auto;
   }

